{
  "type": "enum",
  "name": "{{name}}",
  "namespace": "{{namespace}}",
  {{#doc}}
  "doc": "{{{.}}}",
  {{/doc}}
  "symbols": [
    {{#symbols}}
    "{{name}}"{{^last}},{{/last}}
    {{/symbols}}
  ]{{#default}},
  "default": "{{.}}"{{/default}}
}
