package {{packageName}}

{{#imports}}
import {{{.}}}
{{/imports}}

/**
{{#description}}
 * {{{.}}}
{{/description}}
 */
@Validated
interface {{name}} {
{{#methods}}
    /**
{{#hasParameterDocumentation}}
{{#payloadDescriptionFirstLine}}
     * @param payload {{{.}}}
{{/payloadDescriptionFirstLine}}
{{#payloadDescriptionTailLines}}
     * {{{.}}}
{{/payloadDescriptionTailLines}}
{{#keyDescriptionFirstLine}}
     * @param key {{{.}}}
{{/keyDescriptionFirstLine}}
{{#keyDescriptionTailLines}}
     * {{{.}}}
{{/keyDescriptionTailLines}}
{{#headerProperties}}
{{#descriptionFirstLine}}
     * @param {{parameterName}} {{{.}}}
{{/descriptionFirstLine}}
{{#descriptionTailLines}}
     * {{{.}}}
{{/descriptionTailLines}}
{{/headerProperties}}
{{/hasParameterDocumentation}}
     */
    fun {{methodName}}(
        @param:Valid
        payload: {{payloadType}},

        key: {{keyType}}{{#hasHeaders}},{{/hasHeaders}}
{{#hasHeaders}}

{{/hasHeaders}}
{{#headerProperties}}
        {{parameterName}}: {{typeName}}{{#defaultValue}} = {{{.}}}{{/defaultValue}},
{{/headerProperties}}
    )
{{/methods}}
}
