package {{packageName}}

{{#imports}}
import {{{.}}}
{{/imports}}

/**
{{#description}}
 * {{{.}}}
{{/description}}
 */
{{#clientContractAnnotation}}
@{{.}}
{{/clientContractAnnotation}}
interface {{name}} {
    companion object {
        /** Spring-resolvable Kafka topic address declared by this AsyncAPI channel. */
        const val {{topicAddressConstantName}}: String = "{{{topicAddress}}}"
    }
{{#methods}}

    /**
{{#hasParameterDocumentation}}
{{#payloadDescriptionFirstLine}}
     * @param payload {{{.}}}
{{/payloadDescriptionFirstLine}}
{{#payloadDescriptionTailLines}}
     * {{{.}}}
{{/payloadDescriptionTailLines}}
     * @param topic Kafka topic from which the record was received.
{{#keyDescriptionFirstLine}}
     * @param key {{{.}}}
{{/keyDescriptionFirstLine}}
{{#keyDescriptionTailLines}}
     * {{{.}}}
{{/keyDescriptionTailLines}}
{{#headerProperties}}
{{#descriptionFirstLine}}
     * @param {{parameterName}} {{{.}}}
{{/descriptionFirstLine}}
{{#descriptionTailLines}}
     * {{{.}}}
{{/descriptionTailLines}}
{{/headerProperties}}
{{/hasParameterDocumentation}}
     */
    fun {{methodName}}(
        @Payload
{{#payloadParameterAnnotation}}
        @{{.}}
{{/payloadParameterAnnotation}}
        payload: {{payloadType}},

        @Header(name = KafkaHeaders.RECEIVED_TOPIC, required = true)
        topic: String,

        @Header(name = KafkaHeaders.RECEIVED_KEY, required = false)
        key: {{keyType}}{{#hasHeaders}},{{/hasHeaders}}
{{#hasHeaders}}

{{/hasHeaders}}
{{#headerProperties}}
        @Header(name = "{{{name}}}", required = {{required}})
        {{parameterName}}: {{typeName}}{{#defaultValue}} = {{{.}}}{{/defaultValue}},
{{/headerProperties}}
    )
{{/methods}}
}
