package {{packageName}};

import java.io.Serializable;
/**
{{#description}}
 * {{description}}
{{/description}}
 */
public enum {{name}} implements Serializable {
    {{#values}}
    {{.}}{{^last}},{{/last}}
    {{/values}}
}
