package {{packageName}};

{{#imports}}
import {{{.}}};
{{/imports}}

/**
{{#description}}
 * {{{.}}}
{{/description}}
 */
{{#clientContractAnnotation}}
@{{.}}
{{/clientContractAnnotation}}
public interface {{name}} {
    /** Spring-resolvable Kafka topic address declared by this AsyncAPI channel. */
    String {{topicAddressConstantName}} = "{{{topicAddress}}}";
{{#sendMethods}}

    /**
{{#hasParameterDocumentation}}
{{#payloadDescriptionFirstLine}}
     * @param payload {{{.}}}
{{/payloadDescriptionFirstLine}}
{{#payloadDescriptionTailLines}}
     * {{{.}}}
{{/payloadDescriptionTailLines}}
{{#keyDescriptionFirstLine}}
     * @param {{keyParameterName}} {{{.}}}
{{/keyDescriptionFirstLine}}
{{#keyDescriptionTailLines}}
     * {{{.}}}
{{/keyDescriptionTailLines}}
{{#headerProperties}}
{{#descriptionFirstLine}}
     * @param {{parameterName}} {{{.}}}
{{/descriptionFirstLine}}
{{#descriptionTailLines}}
     * {{{.}}}
{{/descriptionTailLines}}
{{/headerProperties}}
{{/hasParameterDocumentation}}
     * @return future completed with Kafka record metadata after successful publication
     */
    CompletableFuture<RecordMetadata> {{methodName}}(
        {{#payloadBindingAnnotation}}@{{{.}}} {{/payloadBindingAnnotation}}{{#payloadParameterAnnotation}}@{{.}} {{/payloadParameterAnnotation}}{{payloadType}} payload,
        {{keyType}} {{keyParameterName}}{{#hasHeaders}},{{/hasHeaders}}
{{#headerProperties}}
        {{#bindingAnnotation}}@{{{.}}} {{/bindingAnnotation}}{{#requiredAnnotation}}{{.}} {{/requiredAnnotation}}{{#nullableAnnotation}}{{.}} {{/nullableAnnotation}}{{typeName}} {{parameterName}}{{parameterSuffix}}
{{/headerProperties}}
    );
{{/sendMethods}}
}
