package {{packageName}};

import org.apache.kafka.clients.producer.ProducerRecord;
import org.springframework.kafka.core.KafkaTemplate;
{{#imports}}
import {{{.}}};
{{/imports}}

/**
{{#description}}
 * {{{.}}}
{{/description}}
 */
public class {{name}} {

    private final KafkaTemplate<String, {{kafkaValueType}}> kafkaTemplate;
    private final String topic;

    public {{name}}(KafkaTemplate<String, {{kafkaValueType}}> kafkaTemplate, String topic) {
        this.kafkaTemplate = kafkaTemplate;
        this.topic = topic;
    }

    {{#sendMethods}}
    public void {{methodName}}(String key, {{payloadType}} message) {
        kafkaTemplate.send(new ProducerRecord<>(topic, key, message));
    }
    {{/sendMethods}}
}
