package {{packageName}};

import org.apache.kafka.clients.consumer.ConsumerRecord;
{{#imports}}
import {{.}};
{{/imports}}

/**
{{#description}}
 * {{.}}
{{/description}}
 */
public interface {{name}} {
{{#methods}}
    default void {{methodName}}(ConsumerRecord<String, {{payloadType}}> record) { }
{{/methods}}
}
